:root {
    --color-offset: 208.79, 92%, 58.2%;
    --color-dark: 36, 51.4%, 15%;
    --color-light: 56, 100%, 97.1%;
    --color-primary: 32.39, 94.3%, 56.3%;
    --color-secondary: 58, 90%, 59%;
    --color-ternary: 93.6, 70.6%, 71.6%;
}
