---

---

<div class="text">
    <span class="outer">
        <div class="inner">
            <div class="smiley">&#9786;</div>
            <div class="nowrap">
                <span>Marcus</span>
                <br />
                <span>Aldrin</span>
            </div>
        </div>
    </span>
</div>

<style>
    .text {
        border-radius: 4px;

        background-color: hsla(var(--color-offset), 1);
        padding: 4px 8px;
        font-size: 14px;

        position: relative;
    }

    .nowrap {
        white-space: nowrap;
    }

    .text {
        word-spacing: initial;
        text-transform: uppercase;
        line-height: 0.8;
        color: hsl(var(--color-light));
        font-weight: 200;
        font-style: italic;
    }
    .text .outer {
        overflow: hidden;
        display: block;
        padding-inline: 2px;
    }

    .text .inner {
        display: grid;
        grid-template-columns: 1fr;
    }

    .text .inner > * {
        grid-column: 1;
        grid-row: 1;
    }

    .text .outer span {
        display: inline-block;
        animation-name: wiggle;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
    }

    .text .outer span:first-of-type {
        --x: 2px;
    }
    .text .outer span:last-of-type {
        --x: -2px;
    }

    .text .smiley {
        transform: translateX(-100%);
        text-align: center;
        align-self: center;
        font-size: 28px;
    }
    .inner {
        /* transition-property: transform;
        transition-duration: 125ms;
        transition-timing-function: ease; */
    }
    .text {
        cursor: help;
    }
    /* .text:hover .inner {
        transform: translateX(calc(100% + 2px));
    } */

    @keyframes wiggle {
        40% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(var(--x, 0px));
        }
        60% {
            transform: translateX(0px);
        }
    }
</style>
