---

---

<div class="text">
  <div class="nowrap">
    <span>Marcus</span>
    <br />
    <span>Aldrin</span>
  </div>
</div>

<style>
  .text {
    border-radius: 4px;

    background-color: hsla(var(--color-offset), 1);
    padding: 6px 10px;
    font-size: 14px;

    position: relative;

    word-spacing: initial;
    text-transform: uppercase;
    line-height: 0.85;
    color: hsl(var(--color-light));
    font-weight: 200;
    font-style: italic;

    cursor: help;
  }

  .nowrap {
    white-space: nowrap;
    transform: translateY(1px);
  }
</style>
